<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="logo">Scratch Demo</div>
    <ul class="nav">
        <li><a href="/web">Home</a></li>
        <li><a href="/web">About</a></li>
        <li><a href="/web">Services</a></li>
        <li><a href="/web">Contact</a></li>
    </ul>
</header>
<h1>Created!</h1>
<div class="table-container">
    <table>
        <tbody>
        <tr>
            <td>ID</td><td><a href="customer?id={{ customer.id }}">{{ customer.id }}</a></td>
        </tr><tr>
            <td>Name</td><td>{{ customer.name }}</td>
            </tr><tr>
            <td>Email</td><td>{{ customer.email }}</td>
            </tr><tr>
            <td>Note</td><td>{{ customer.note }}</td>
            </tr><tr>
            <td>Orders</td> <td>{{ customer.orders | length }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Created: {{ created_at }}</h3>
    <h3>Word of the day: {{ word_of_the_day }}</h3>
</div>

<a href="customer?id={{ customer.id }}" class="button">Edit This Customer</a>
<a href="customer_list" class="button">Show All Customers</a>

</body>
</html>
